li.thing.list-group-item.container
  span(data-hook="name-display") 
  input(data-hook="name-input") 
  span.btn-group.pull-right 
    a.btn.btn-default(data-hook="action-edit-thing") edit 
    a.btn.btn-danger(href="#", data-hook="action-delete-thing") delete
